src/main/mule/mulesoft-jenkins-ci-cd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7b53f36e-b3a1-43eb-970c-da9e037ce453" basePath="/" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mulesoft-jenkins-ci-cdFlow" doc:id="ebf4abc3-5ade-4f2f-b834-241e4490a17c" >
		<http:listener doc:name="Listener" doc:id="eda4ae26-fe60-4442-abd3-92efeb97a747" config-ref="HTTP_Listener_config" path="/cicd"/>
		<set-payload value='#["helloooo"]' doc:name="Set Payload" doc:id="e3f7860d-435a-40d5-9e29-27ed2b33b31a" />
	</flow>
</mule>
